.footer-items {
  display: flex;
  justify-content: space-between;
  background-color: $navy_blue;
  color: white;
  bottom: 0;
  position: fixed;
  left: 0;
  right: 0;
  li {
    list-style: none;
  }
  img {
    width: 30px;
  }
}
.left-links {
  display: flex;
  padding: 5px;
}
.left-links > * {
  padding: 5px;
}
