.header-secondary {
  background-color: $navy_blue;
  color: white;
  margin: 0;
  font-size: x-small;
  padding: 10px;
}
.header-primary {
  background-color: $primary_yellow;
  color: $navy_blue;
  display: flex;
  justify-content: space-between;
  vertical-align: middle;

  li {
    list-style: none;
  }
  img {
    width: 100px;
  }
}
.right-menu {
  display: flex;
  align-items: center;
  padding-right: 10px;
}
.right-menu > * {
  padding: 5px;
  font-size: small;
}
