.header-secondary {
  background-color: $navy_blue;
  color: white;
  margin: 0;
}
.header-primary {
  background-color: $primary_yellow;
  color: $navy_blue;
  display: flex;
  justify-content: space-between;
  vertical-align: middle;

  li {
    list-style: none;
  }
}
.right-menu {
  display: flex;
  align-items: center;
}
